/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-variation-settings: var(--text-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--text-color);
  /* background: repeating-linear-gradient(
      90deg,
      var(--background-color),
      var(--background-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-start),
      var(--background-color-end) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-start) 0.01%,
      var(--background-color-end)
    ); */
  background-position: fixed;
  background-size: cover;
}

/* HEADER */

.header {
  font-family: var(--accent-font-family);
  text-align: center;
  margin-block-start: 100px;
  margin-block-end: 70px;
  padding: 136px 0 23px;
  background: var(--header-background);
  border: 2px solid var(--stroke-color);
}

.header__link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin: 20px 0 25px;
}

@media (width <= 375px) {
  .header {
    padding: 120px 0 24px;
  }
}

.theme-menu__list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: start;
  margin: 0 45%;
  width: fit-content;
}

@media (width <= 375px) {
  .theme-menu__list {
    margin: 0 41%;
  }
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  padding: 0;
  text-transform: uppercase;
  background: none;
  border: none;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  opacity: 0.6;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: translateX(0);
}

/* SECTION */

.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* CARDS */

.card {
  border: 2px solid var(--stroke-color);
  background: var(--header-background);
}

.card__title {
  font-size: 18px;
  font-variation-settings: var(--title-font-weight);
  padding: 4px 10px;
}

.card__image-container {
  overflow: hidden;
  position: relative;
  border-top: 2px solid var(--stroke-color);
  border-bottom: 2px solid var(--stroke-color);
}

.card__image {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  -o-object-position: center;
}

.image-label {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-variation-settings: var(--text-font-weight);
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  right: 25px;
  top: 27px;
}
@media (width <= 375px) {
  .image-label {
    right: 10px;
    top: 24px;
  }
}

.card__text-container {
  padding: 26px 25px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
